/**
 * Created by Kirk liu on 2018/1/18.
 */
 .content{
   height: 500px;
   .nav{
     a{
       color: blue;
       margin-right: 10px;
       &.selected{
         color: #f00000;
       }
     }
   }
 }
 