.cont {
  .top {
    color: #FF9302;
    .bd_logo1 {
      display: inline-block;
      width: 480px;
      height: 260px;
      background-image: url("../img/ico-footer-logo.png");
      background-size: contain;
    }
  }
  .bottom {
    color: #F00000;
  }
}